@charset "UTF-8";
@import "../fragment/yo-list.scss";
@import "../fragment/yo-sliderMenu.scss";

.talk-swiper{
  width:100%;
  height:1.5rem;
  @media screen and (min-width:768px){
    height:1rem;
  }
  .swiper-slide{
    height:100%;
    width:100%;
    img{
      width:100%;
      height:100%;
    }
  }
  .talk-pagination{
    bottom:0;
    text-align: right;
    padding-right: 10px;
    .custom-pagination{
      width:12px;
      height:3px;
      display: inline-block;
      background:rgba(150,150,150,0.8);
      margin-left:4px;
    }
    .active{
      background:rgba(255,255,255,0.9);
    }
  }

}

//
