@charset "utf-8";
@import "../../lib/fragment/yo-dialog";

/**
 * yo-dialog扩展
 */
 @include yo-dialog(
  $name: quit

 ){
  button {
    color: blue !important;
  }
  .bd{
    font-weight: bold;
    font-size:14px;
  }
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
 };
