.swiper-container{
  width:100%;
  height:44px;

  .cellMain{
    width:100%;
    height:100%;
    background:#ddd;
  }
  .cellSmall{
    width:50% !important;
    height:100%;
    background:#999;
    .item{
      width:50%;
      height:100%;
      // background:blue;
      &.last{
        background:red;
      }
    }
  }
}
